.background{
    background:white;
}
.con-1{
    background-color: #C8FF91;
    font-family:monospace;
}
.port-folio{
    font-family: serif;
    font-size:xx-large;
    background-color: #C8FF91;
    margin-top: 20px;
 }
 .footer{
    background-color: #C8FF91;
 }